<% content_for :head do %>
  <%= javascript_include_tag "three.min.js" %>
  <%= javascript_include_tag "panorama.js" %>
<% end %>


<% panorama_url = attachment_url(@panorama, :image, :fill, 2048, 512, format: "png") %>
<%= content_tag :div, class: "panorama_class", data: {panorama: panorama_url} do %>
<% end %>


<div id="panoramaContainer">
</div>
