<% panorama_url = attachment_url(@panorama, :image, :fill, 2048, 512, format: "png") %>
<%= content_tag :div, class: "panorama_class", data: {panorama: panorama_url} do %>
<% end %>

<%= javascript_include_tag "panorama.js" %>

<div id="panoramaContainer">
</div>
