<% content_for :head do %>
  <title>Panorama</title>
<% end %>
<%= javascript_include_tag "colorcoding" %>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-11">
      <h1><%= @exhibition.name %></h1>
    </div>
    <div class="col-xs-1">
      <% if !session[:user_id].blank? %>
        <%= link_to edit_panorama_path(@panorama), :class => "button-link horizontal-center-wrapper responsive-color-btn" do %>
          <div class="btn btn-primary grid-button horizontal-center responsive-color-btn">
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="panoramaContainer"></div>
    </div>
  </div>
</div>
