<p id="notice"><%= notice %></p>
<% content_for :title, (@exhibition.name + " Floor Plan") %>

<div id="main-container" class="container">
  <div class="row">
    <h1><%= @exhibition.name %></h1>
  </div>
  <div class="row">

  </div>
</div>
