<p id="notice"><%= notice %></p>

<% content_for :head do %>
  <%= javascript_include_tag "three" %>
<% end %>


<div id="main-container" class="container">
 <div class="row">
    <h1 class="title"><%= @exhibition.name %></h1>
  </div>
</div>

<% panorama_url = attachment_url(@panorama, :image, :fill, 2048, 512, format: "png") %>
<%= content_tag :div, class: "panorama_class", data: {panorama: panorama_url} do %>
<% end %>
