<p id="notice"><%= notice %></p>
<div id="main-container" class="container">
 <div class="row">
    <h1 class="title"><%= @exhibition.name %></h1>
  </div>
</div>

<div id="panoramaContainer">

<% content_for :head do %>
  <title>Panorama</title>
<% end %>
