<p id="notice"><%= notice %></p>
<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="title"><%= @artwork.name %></h1>
      <h2 class="title in-line">
        By:
        <% @artists.each do |artist| %>
        <%= link_to artist.name, artist_path(artist) %>
        <% end %>
      </h2>
    <br />
  </div>
  <div class="row">
    <div class="col-xs-12 horizontal-center-wrapper">
      <div class="picture-frame">
        PICTURE OF ARTWORK
      </div>
    </div>
  </div>
  <div class="row">

  </div>
  <p><%= @artwork.description %></p>
<%# TODO: Maybe add a way to see where a piece of artwork has been? %>
</div>
