<p id="notice"><%= notice %></p>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="title">Just added content:</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ul>
        <% @museums.each do |name, path| %>
          <li><h2><%= link_to name, path %></h2></li>
        <% end %>
      </ul>
</div
