<p id="notice"><%= notice %></p>
<% content_for :title, @user.name %>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="title">Control Page</h1>
    </div>
  </div>
</div>
