<p id="notice"><%= notice %></p>
<% content_for :title, @user.name %>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="title">Content Control</h1>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <h2>Add Content</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'addContent' %>
    </div>
  </div>
</div>
