function SortCoordinates(x1,x2,y1,y2){
  var coords = new Array(4);
  if (x2 > x1){
    coords[0] = x1.toString();
    coords[2] = x2.toString();
  }
  else {
    coords[0] = x2.toString();
    coords[2] = x1.toString();
  }
  if (y2 > y1){
    coords[1] = y1.toString();
    coords[3] = y2.toString();
  }
  else {
    coords[1] = y2.toString();
    coords[3] = y1.toString();
  }
  return coords;
}
function BuildArea(coords){
  return "<area alt='' title='' href= 'http://www.google.com' shape='rect' coords='"+ coords.join() + "' />";
}

// http://www.chestysoft.com/imagefile/javascript/get-coordinates.asp
function FindPosition(oElement)
{
  if(typeof( oElement.offsetParent ) != "undefined")
  {
    for(var posX = 0, posY = 0; oElement; oElement = oElement.offsetParent)
    {
      posX += oElement.offsetLeft;
      posY += oElement.offsetTop;
    }
      return [ posX, posY ];
    }
    else
    {
      return [ oElement.x, oElement.y ];
    }
}

function GetCoordinates(e){
  var PosX = 0;
  var PosY = 0;
  var ImgPos;
  ImgPos = FindPosition(e.data.img);
  if (!e) var e = window.event;
  if (e.pageX || e.pageY)
  {
    PosX = e.pageX;
    PosY = e.pageY;
  }
  else if (e.clientX || e.clientY)
    {
      PosX = e.clientX + document.body.scrollLeft
        + document.documentElement.scrollLeft;
      PosY = e.clientY + document.body.scrollTop
        + document.documentElement.scrollTop;
    }
  PosX = PosX - ImgPos[0];
  PosY = PosY - ImgPos[1];
  var coordinates = [PosX, PosY];
  console.log(coordinates);
  if (e.data.coordinates1) {
    $(e.data.img).off("mousedown", GetCoordinates);
    $(e.data.img).off("mouseup", GetCoordinates);
    console.log("MISSION SUCCESS");
    var sortedCoords = SortCoordinates(PosX, e.data.coordinates1[0], PosY, e.data.coordinates1[1]);
    var temp = new TempDiv(sortedCoords);
    var gui = new dat.GUI();
    gui.add(temp, 'leftCoordinate').name('X Coordinate');
    gui.add(temp, 'topCoordinate').name('Y Coodinate');
    gui.add(temp, 'rightCoordinate').name('Width');
    gui.add(temp, 'bottomCoordinate').name('Height');
    gui.onChange(new TempDiv())



    // var newArea = BuildArea(sortedCoords);
    // $('#floor-map').replaceWith(originalContent);
    // $('#floor-map').append(newArea);
    // originalContent = $('#floor').clone().html();
    // $('img').mapster('unbind');
    // $('img').mapster({
    //   singleSelect : true,
    //   clickNavigate : true
    // });
    // $(document).ready(onWindowResize);

  }
  else {
    $(e.data.img).on("mouseup", {img: e.data.img, coordinates1: coordinates}, GetCoordinates);
  }
}

var TempDiv = function(coords){
  this.leftCoordinate = coords[0];
  this.rightCoordinate = coords[2];
  this.topCoordinate = coords[1];
  this.bottomCoordinate = coords[3];
  this.width = this.rightCoordinate - this.leftCoordinate;
  this.height = this.bottomCoordinate - this.topCoordinate;
  // $('#floor').prepend("<div style='width: 200px; height: 100px; border-style: dotted; border-width: medium;'> </div>");
  $('#mapster_wrap_0').append("<div class='scaffold' style='position: absolute; left: " + this.leftCoordinate.toString() + "; top: " + this.topCoordinate.toString() + "; width: " + this.width.toString() + "; height: " + this.height.toString() + "; border-style: dotted; border-width: medium;' </div>");
};
