@import "bootstrap-sprockets";
@import "bootstrap";

/*
For Exhibition list: Have some explenation of what
you should click on. Or a header,
Also, Try having grid with photos above the buttons as
part of the buttons
Or: try having a table, with a picture on the
left and title description on the right
Also, make sure you designate current exhibitions
from old ones

OOHOHOHOHOOHO
Some way of doing a timeline, vertically


*/
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 20px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#search-bar{
  max-width: 150px;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon span {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
.left-inner-addon {
    position: relative;
}

.logo {
  max-height: 40px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: +80px;
}

.horizontal-center-wrapper{
  text-align: center;
}
.horizontal-center{
  display: inline-block;
}

.center-block-outer{
  display: table;
  height: 100%;
  width: 100%;
}
.center-block-middle{
  display: table-cell;
  vertical-align: middle;
}

.center-block-inner{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title{
  margin-bottom: 10px;
  margin-top: 5px;
}

.button-link-name{
  white-space: normal;
  margin: 0px 0pc 0px 0px;
  padding: 0px 0px 0px 0px;
}

.grid-button{
  margin-top: 11px;
}

.button-link{
  border-radius: 4px;
}

.button-link:hover, .button-link:visited, .button-link:link, .button-link:active{
    text-decoration: none;
}

.picture-frame{
  min-height: 150px;
}

.image {
  border-style: solid;
  border-width: medium;
}

.side-image {
  max-width: 100%;
  max-height: 100%;
}

.full-image {
  max-width: 100%;
  max-height: 100%;
}
#slidebox-container{
  background-color: rgb(177, 241, 239);
  border-radius: 10px;
}
div.white#slidebox-container{
  background-color: white;
}

.wrap-together{
  overflow: hidden;
  white-space: nowrap;
}

.panel-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.unselectable {
    /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
    /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}
