// Place all the styles related to the Exhibitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.exhibition-info{
  height: auto;
}

.entrance{
  height: 50px;
}

.panorama {

}

#floormap{
  position: relative;
}
.dat-ui-selection{
  color: black;
  word-wrap: break-word;
}
