// Place all the styles related to the Museums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#address{
  padding-top: 5px;
  margin-bottom: 0px;
}
#map {
  width: auto;
  height: 600px;
}

.exhibition{
  height: 50px;
}

.museum{
  height: 125px;
}

.museum-info{
  height: 150px;
}

#exhibition-container{
  background-color: rgb(177, 241, 239);
  border-radius: 10px;
}
div.white#exhibition-container{
  background-color: white;
}
